{% extends 'base.html' %}

{% block body %}
<h1>DETAIL</h1>
<hr>
<p>글 번호 : {{ article.pk }}</p>
<p>글 제목 : {{ article.title }}</p>
<p>글 내용 : {{ article.content }}</p>
<p>글 생성 시각 : {{ article.created_at }}</p>
<p>글 수정 시각 : {{ article.updated_at }}</p>
<hr>
<form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline;" onclick="return confirm('ㄹㅇ 삭제함???')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>

<a href="{% url 'articles:index' %}">[BACK]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]</a><hr>
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
{% csrf_token %}
<input type="text" name="content">
<input type="submit" value="댓글작성">
</form>
<hr>
<p><b>댓글목록({{comments|length}}개)</b></p>
{% for comment in comments %}
  <p>[{{forloop.revcounter}}]{{comment.content}}</p>
  <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
{% endfor %}
{% endblock %}