{% extends 'base.html' %}

{% block body %}
<h1>DETAIL</h1>
<hr>
<p>글 번호 : {{ article.pk }}</p>
<p>글 제목 : {{ article.title }}</p>
<p>글 내용 : {{ article.content }}</p>
<p>글 생성 시각 : {{ article.created_at }}</p>
<p>글 수정 시각 : {{ article.updated_at }}</p>
<hr>
<form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline;" onclick="return confirm('ㄹㅇ 삭제함???')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>

<a href="{% url 'articles:index' %}">[BACK]</a>
{% if request.user == article.user %}
  <a href="{% url 'articles:update' article.pk %}">[EDIT]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
{% endif %}

{% comment %} <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
{% csrf_token %}
<input type="text" name="content">
<input type="submit" value="댓글작성">
</form> {% endcomment %}

{% if user.is_authenticated %}
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글작성">
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}">[댓글 작성하려면 로그인 해주세요]</a>
{% endif %}
<hr>
<p><b>댓글목록({{comments|length}}개)</b></p>
{% for comment in comments %}
  <p>[{{forloop.revcounter}}]{{comment.content}}</p>
  {% comment %} <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form> {% endcomment %}
  {% if comment.user == user %}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline;">
    {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
{% endfor %}
{% endblock %}