{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Articles</h1>
<a href="{% url 'articles:create' %}">[NEW]</a>
<hr>
{% comment %} {% for article in articles %}
<p>작성자 : {{ article.id }}</p>
<p>번호 : {{ article.pk }}</p>
<p>제목 : {{ article.title }}</p>
<a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
{% endfor %} {% endcomment %}
<div class="row">
  {% for article in articles %}
    <!-- 모듈화 시켜둔 article 템플릿 가져오기 -->
    {% include 'articles/_article.html' %}
  {% endfor %}
</div>
{% endblock %}